*,
*::after,
*::before{
  box-sizing: border-box;
}
body{
   /* /* font-family: 'Jost', sans-serif; */
   /* font-family: 'Open Sans', sans-serif; */
 font-family: 'Roboto', sans-serif;
}
.body-lock{
   overflow: hidden;
}
.header {
   background-image: url('../images/bg-img.png');
   background-repeat: no-repeat;
   background-position:center top;
   /* background-size: cover; */
}
.container {
   max-width: 1180px;
   margin: 0 auto;
}
.nav__top{
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   margin: 20px 0 20px;

}
/* .header__content {
   display: flex;
} */
.heder__inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);

}
.inner__title{
    margin-bottom: 160px;
}
.header__title {
   font-weight: 700;
   font-size: 58px;
   line-height: 57px;
   color: #fff;
   width: 670px;
   margin: 88px 0 20px;
}
.header__text {
   font-weight: 300;
   font-size: 16px;
   line-height: 19px;
   color: #fff;
   width: 232px;
   margin-bottom: 47px;
}
.header__btn {
   background: #10EBF8;
   border-radius: 2px;  
   font-weight: 700;
   font-size: 15px;
   line-height: 18px;
   color: #191919;
   padding: 24px 80px;
   border: none;
   cursor: pointer;

}
.wrrap__contact {
    display: grid;
    margin-right: 177px;
    height: 620px;
    justify-content: end;
}
.header__phone {
   font-weight: 700;
   font-size: 18px;
   line-height: 21px;
   color: #fff;
   margin-top: 9px;
}
hr{
   display:block;  
   border: 1px solid rgba(255, 255, 255, 0.19);
}

.menu__list, .burger__list {
   display: flex;
   align-items: center;
   width: 700px;
}
.menu__itam,.burger__itam {
   margin-left: 40px;

}
.menu__link,.burger__link,
.info__link-catalog,
.info__link-delivery {
   font-size: 17px;
   font-weight: 600;
   line-height: 20px;
   text-align: center;
   color: #FFFDFD;

}
.catalog-img::before{
   content:"";
   height: 24px;
   width: 20px;
   margin-right: 10px;
   display: inline-block;
   background-image: url(../images/katalig-img.svg);
   background-repeat: no-repeat;
   background-position: center;
}
.delivery-img::before{
   content: "";
   height: 18px;
   width: 24px;
   margin-right: 10px;
   display: inline-block;
   background-image: url(../images/delivery.svg);
   background-repeat: no-repeat;
   background-position: center;
}

.menu__btn,.burger__btn {
   background: rgba(11, 34, 75, 0.26);
   color: rgba(16, 235, 248, 1);
   font-size: 11px;
   font-weight: 700;
   line-height: 22px;
   letter-spacing: 1px;
   text-transform: uppercase;
   padding: 9px;
   border: 2px solid rgba(16, 235, 248, 1);
   border-radius:2px;
   cursor: pointer;
}
.menu__phone, .burger__phone{
   font-size: 18px;
   font-weight: 800;
   line-height: 21px;
   color: rgba(255, 255, 255, 1);

}

.wrep__caet{
   display: flex;
   align-items: center;
}
.sheader-cart-count {
   background: #FFFFFF;
   border-radius: 5px;
   Width:23px;
   Height:18px;
   font-size: 12px;
   font-weight: 600;
   line-height: 14px;
   display: flex;
   justify-content: center;
   align-items: center;
  margin: 0 73px 0 -5px;

}

  .list-item {  
   padding:10px;  
   list-style:none;  
  }  
  .nav-link{  
   color:inherit;  
   text-decoration:none;  
  }  
  /*Properties for Hamburger*/  
  .ham{  
 position: absolute;
    top: 20px;
   right: 100px; 
   cursor:pointer;  
   z-index: 5;
  }  
  .bar1,.bar2,.bar3{  
   display:block;  
   width:35px;  
   height:3px;  
   margin:12px;  
   background-color:#fff;  
   transition:all 0.3s ease-out;  
  }  
  /* @media only screen and (max-width:768px){  
  *{  
    overflow:hidden;  
   }   */
  .nav-sub{  
   position: fixed;
   width: 100%;
   height: 445px;
   background-image: url(../images/burger-bg.png);
   background-repeat: no-repeat;
   background-position: top center;
   background-size: cover;
   top: -150%; left: 0; right: 0; bottom: 0;
   transition: all 0.5s ease-in-out;
   /* transform: scale(0); */
   opacity: 0;
  z-index: 2;
   }  
  .nav-change{  
    top: 0;
    opacity: 1;
   }  
  .ham{  
    display:block;  
   }  
  .change .bar1 { 
      position: fixed; 
      transform: rotate(45deg) 
      translate(9px,10px);  
}  
  .change .bar2 {  
   opacity: 0;  
  }  
  .change .bar3 {  
     position: fixed;
   transform: rotate(-45deg) 
   translate(9px,-10px);  
  }  
  .nav__container{
   max-width: 1170px;
   margin: 0 auto;
  }
  .burger__info {
     display: flex;
     margin-top: 50px;
    
}
.burger__catalog {
    width: 217px;
    margin-right: 64px;
}

.info__itam-catalog {
   margin-bottom: 46px;
}

.info__link-delivery{
    margin-bottom: 14px;
}
.info__link {
   font-size: 18px;
   font-weight: 300;
   line-height: 30px;
   color: #FFFDFD;
  
}
.burger__companies {
   margin-right: 155px;
   width: 266px;
}

.companies__link {
   font-weight: 300;
   font-size: 18px;
   line-height: 35px;
   color: #FFFDFD;

}
.burger__contact {
  display: grid;
  grid-column: 1/3;
  grid-template-columns:200px 165px;
}
.contact__left {
   grid-column: 1/2;
}
.contact__text,.manager__text {
   font-style: normal;
   font-weight: 500;
   font-size: 12px;
   line-height: 22px;
   letter-spacing: 2px;
   text-transform: uppercase;
   color: rgba(255, 255, 255, 0.62);
   margin-bottom: 21px;
   display: block;
}

.contact__phone {
   font-style: normal;
   font-weight: 700;
   font-size: 18px;
   line-height: 21px;
   color: #fff;
   margin-bottom: 12px;
}
.contact__right {
   grid-column: 2/3;
   padding: 43px 0 0 0px;
}
.contact__manager {
   grid-column: 1/3;
}
.manager__text {
   margin-bottom: 8px;
}
.checkbox{
   position: absolute;
   right: 15px;
   background: rgba(8, 24, 53, 0.6);
   backdrop-filter: blur(8px);
   width: 65px;
   height: 124px;
   border-radius: 50px;
   display: grid;
   justify-content: center;
   align-items: center;
   z-index: 1;
   cursor: pointer;
}
.checkbox__wrap{
   position: absolute;
   right: 0px;
   top: 268px;
   width: 900px;
   height: 124px;
}
.checkbox::before{
   content: "";
   width: 58px;
   height: 55.52px;
   border: 2px solid #10EBF8;
   border-radius: 50%;
   display: inline-block;
   position: absolute;
   top: 63px;
   right: 3px;
   transition: all 0.5s ease-in-out;
}
.checkbox-activ::before{
   content: "";
   top: 3px;
}
.checkbox__lebel{
   display: flex;
   align-items:center ;
   justify-content: center;
   width: 800px;
   height: 120px;
   background: #3F3F3F;
  position: fixed;
   border: 1px solid rgba(255, 255, 255, 0.19);
   /* z-index: 1; */
   right: -100%;
   transition: all 1s ease-in-out;
}
.checkbox__lebel-activ{
    right: 100px;
}

.main__wrrap {
   display: grid;
   grid-column: 1/3;
   gap: 140px;
}
.main__cup {
   grid-column: 1/2;
   position: relative;
}
.cup__text {
   font-weight: 800;
   font-size: 30px;
   line-height: 35px;
   color: #044988;
}
.cup__inner{
   display: flex;
   position: absolute;
   width: 206px;
   right: 0px;
   bottom: 95px;
}
.main__equipped {
   position: relative;
   grid-column: 2/3;
   bottom: -60px;
}
.equipped__inner{
   display: flex;
   position: absolute;
   width: 276px;
   right: 0;
   bottom: 150px;
}
.equipped__img{
   width: 443.03px;
   height: 457.86px;
   align-items: center;
}
.equipped__text {
   font-weight: 700;
   font-size: 30px;
   line-height: 35px;
   color: #044988;
}
.baner__top{
   transform: rotatey(180deg);
   width: 1349px;
   position: absolute;
   top: 20px;


}
.main__banar {
   position: relative;
   background-image: url(../images/bg.png);
   background-repeat: no-repeat;
   background-position: bottom;
}
.main__price {
   display: grid;
   justify-content: end;
   margin-right: 70px;
}
.price__title {
   font-weight: 700;
   font-size: 48px;
   line-height: 54px;
   width: 370px;
   height: 92px;
   color: #fff;
   margin: 77px 0 42px;
}
.price__text {
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: rgba(255, 255, 255, 1);
   width: 325px;
   height: 44px;
   margin-bottom: 20px;
  display: inline-block;
  position: relative;
  left: 50px;
}
.price__text::before{
   content: "";
   background-image: url(../images/price-img.svg);
   background-repeat: no-repeat;
   width: 34px;
   height: 47px;
    margin-right: 16px;
    display: block;
    position: absolute;
    left: -50px;

}
.price {
   font-weight: 700;
   font-size: 30px;
   line-height: 32px;
   color: #fff;
   display: block;
   margin-bottom: 37px;
}
.baner__btn {
   background: #10EBF8;
   color: #191919;
   border-radius: 2px;
   padding: 23px 38px;
   margin-bottom: 133px;
   border: none;
   font-family: Roboto;
   font-size: 15px;
   font-weight: 800;
   line-height: 18px;
   letter-spacing: 1px;
  text-transform: uppercase;
   cursor: pointer;
}


/* cart */




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
}
/* body{
    line-height: 1.5;
    font-weight: 400;
} */

/* resets and resuable stylings */
img{
    display: block;
    /* width: 100%; */
}
button{
    cursor: pointer;
    outline: 0;
}
/* a{
    text-decoration: none;
    color: #000;
} */
/* .container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 1.5rem;
} */
/* .text{
    font-size: 1.1rem;
    margin: 1.2rem 0;
    line-height: 1.7;
    opacity: 0.7;
} */
/* end of resets and reusable stylings  */

/* header */
header{
    background: var(--ghost-white);
}
/* header .container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} */
.header__top{
    position: relative;
}
.nav{
    /* position: fixed; */
    /* top: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%); */
    position: relative;
    width: 100%;
    padding: 1.5rem 1rem!important;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding: 1.5rem 0;
    /* background: var(--ghost-white); */
    z-index: 0;
}
.navbar-brand{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--granite-gray);
    justify-self: flex-start;
}
.navbar-toggler{
    justify-self: center;
    border: none;
    color: #fff;
    background: var(--fire-bush);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 1.5rem;
    position: relative;
}
.navbar-collapse{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}
/* js related class */
.show-navbar{
    height: 204px; 
}
/*  */
.navbar-collapse ul{
    list-style-type: none;
}
.navbar-collapse li{
    margin: 0.7rem 0;
    letter-spacing: 2px;
    text-align: center;
}
.navbar-collapse a{
    font-size: 1.15rem;
    opacity: 0.7;
}
        /* navbar */
.cart{
    padding-right: 8px;
    padding-bottom: 40px;
    position: absolute;
    top: 40px;
    right: 190px;
}
#cart-btn{
    border: none;
    font-size: 1.5rem;
    background: none;
    position: relative;
}
#cart-count-info{
    position: absolute;
    top: -12px;
    right: -16px;
    color: #000;
    background-color: #fff;
    font-size: 1rem;
    width: 23px;
    height: 18px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}
.cart-container{
    position: absolute;
    overflow-y: scroll;
    background: #fff;
    width: 70%;
    height: 600px;
    top: 100%;
    right: 0;
    box-shadow: 0 3px 8px -2px rgba(0, 0, 0, 0.21);
    display: none;
}
.cart-container::-webkit-scrollbar{
    width: 8px;
}
.cart-container::-webkit-scrollbar-thumb{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
/* js related class */
.show-cart-container{
    display: block;
}
/*  */
.cart-item{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem;
    align-items: center;
    position: relative;
    padding: 1.2rem 0.6rem;
    height: 190px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.21);
}
.cart-item:last-child{
    border-bottom: none;
}
.cart-item-del-btn{
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 0.05rem 0.45rem;
    font-size: 1.4rem;
    background: var(--fire-bush);
    border: none;
    color: #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.cart-item img{
    width: 80px;
}
.cart-item-info{
    text-align: center;
    display: flex;
}
.cart-item-info span{
    display: block;
}
.cart-total{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #044988;
    border-top: 1px solid rgba(0, 0, 0, 0.21);
}
.cart-total h3{
    margin-right: 0.2rem;
    font-size: 1.3rem;
}
.cart-total h4{
    margin-left: 0.2rem;
    font-size: 1.3rem;
}

#cart-total-value{
    font-size: 1.3rem;
    font-weight: 500;
}


/* banner  */
/* .banner{
    flex: 1;
    padding-top: 6rem;
    text-align: center;
}
.banner > div{
    margin: 3rem 0;
}
.banner .text{
    font-weight: 500;
    font-size: 1.15rem;
    opacity: 0.45;
}
.btns{
    margin: 1.5rem 0;
}
.btn{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid var(--fire-bush);
    background: var(--fire-bush);
    color: #fff;
    padding: 0.95rem 0;
    letter-spacing: 2px;
    display: block;
    width: 180px;
    margin: 0.6rem auto;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}
.btns .btn:last-child{
    color: var(--fire-bush);
    background: transparent;
}
.btns .btn:first-child:hover{
    background: transparent;
    color: var(--fire-bush);
}
.btns .btn:last-child:hover{
    background: var(--fire-bush);
    color: #fff;
} */

/* products */
.products{
    padding: 6rem 0;
}
.products h2{
    text-align: center;
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--granite-gray);
    margin-bottom: 3rem;
}
.product-item{
    margin: 1rem 0;
}
.product-img{
    background: var(--ghost-white);
    padding: 3rem 0;
    height: 350px;
    overflow: hidden;
    position: relative;
}
.product-img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    /* width: 60%; */
    margin: 0 auto;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}
.product-img:hover img{
    opacity: 0.8;
}
.product-content{
    padding: 1.6rem 0;
    text-align: center;
}
.add-to-cart-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border: none;
    padding: 0.75rem 1.2rem;
    font-size: 1.05rem;
    background-color: var(--baltic-sea);
    color: #fff;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
    opacity: 0;
}
.product-item:hover .add-to-cart-btn{
    opacity: 1;
}
.add-to-cart-btn .fas{
    margin-right: 0.4rem;
}
.add-to-cart-btn:hover{
    background-color: #23272a;
}
.add-to-cart-btn:hover{
    color: var(--fire-bush);
}
.product-name{
    font-size: 1.3rem;
    color: var(--baltic-sea);
}
.product-category{
    margin:  0.8rem 0;
    display: inline-block;
    font-weight: 500;
    background: var(--fire-bush);
    color: #fff;
    padding: 0.05rem 1.5rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    letter-spacing: 2px;
}
.product-price{
    font-size: 1.15rem;
    font-weight: 500;
    opacity: 0.6;
}

/* footer{
    background-color: var(--baltic-sea);
}
.footer-banner{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/footer-banner.jpg) center/cover no-repeat;
    padding: 3rem 0;
}
.footer-banner{
    color: #fff;
    text-align: center;
}
.footer-banner h2{
    font-size: 2.4rem;
}
.footer-banner .btn{
    margin-top: 2rem;
}
.footer-banner .btn:hover{
    background: #fff;
    color: var(--fire-bush);
    background: transparent;
}
footer > .container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icons{
    display: flex;
    padding: 3rem 0;
}
.social-icons a{
    color: var(--granite-gray);
    margin: 0 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 1.25rem;
    transition: var(--trans);
    -webkit-transition: var(--trans);
    -moz-transition: var(--trans);
    -ms-transition: var(--trans);
    -o-transition: var(--trans);
}
.social-icons a:hover{
    color: #fff;
} */






/* Media Queries for responsiveness

@media screen and (min-width: 480px){
    /* header */
    /* .btns button{
        display: inline-block;
    }
    .btns button:first-child{
        margin-right: 0.4rem;
    }
}

@media screen and (min-width: 680px){
    .navbar{
        padding: 1.5rem 3rem!important;
    }
    .cart-container{
        width: 480px;
        left: auto;
        right: 3rem;
    }
    .product-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
} 

@media screen and (min-width: 992px){
    .navbar{
        padding: 1.5rem 6rem!important;
    }
    .cart-container{
        right: 6rem;
    }
    .banner{
        padding-top: 0;
        display: grid;
        grid-template-columns: 55% 45%;
        align-content: center;
    }
    .banner-content{
        text-align: left;
    }
    .product-list{
        grid-template-columns: repeat(3, 1fr);
    }
    .footer-banner{
        text-align: left;
    }
    .footer-banner .text{
        width: 60%;
    }
    .footer-banner .btn{
        margin-left: 0;
    }
}

@media screen and (min-width: 1200px){
    .navbar{
        padding: 1.5rem 14rem!important;
    }
    .cart-container{
        right: 14rem;
    }
    .banner-content h1{
        font-size: 3.5rem;
    }
    .product-list{
        grid-template-columns: repeat(4, 1fr);
    }
} */


  
